/***** Common selectors *****/

.wrapper-full {
    width: 100%;
}

.wrapper-section {
    width: 95%;
}

header .wrapper-section, footer .wrapper-section {
    padding: 0;
}

/***** header *****/

.logo > span {
    font-size: 2.6em;
}

header nav {
    float: right;
}

header nav ul li {
    margin-left: 5px;
}

/***** what we do section *****/

.expandable {
    height: 330px;
}

.video {
    width: 50%;
    margin: 0 30px 30px 0;
}

.column-what-we-do {
    margin-left: 0;
    padding-bottom: 30px;
}

/***** networks section *****/

.networks-column {
    width: 90%;
}

.arrow-right {
    right: 11px;
}

.arrow-left {
    left: 11px;
}

/***** werbeformen section *****/

.werbeformen-textcontent h3 {
    display: block;
    margin-bottom: 15px;
    width: auto;
}

.werbeformen-textcontent ul h3:before {
    content: '';
    margin-right: 0;
}

/***** contact section *****/

.country-name {
    font-size: 3em;
}

.telephone-number {
    font-size: 2.5em;
}

.italy img, .croatia img {
    margin-left: auto;
    margin-right: auto;
}

.croatia .telephone-number {
    left: 36px;
}

.italy .country-name {
    left: 63%;
    top: 24%;
}

.croatia .country-name {
    left: 57%;
    top: 40%;
}

.croatia .telephone-number {
    left: 36px;
}
