/***** Common selectors *****/

header .wrapper-section, footer .wrapper-section {
    padding: 0;
}

header .wrapper-section {
    position: relative;
}

/***** menu for narrow layout *****/

.no-csstransforms header nav {
    left: -100%;
}

header nav {

    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    border-radius: 0 5px 5px 0;

    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);

    -webkit-transform: translate3d(-105%, 0, 0);
    -ms-transform: translate3d(-105%, 0, 0);
    transform: translate3d(-105%, 0, 0);

    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;

    width: auto;
}

.no-boxshadow header nav {
    border: 5px solid #a0a0a0;
}

header nav.show {
    left: 0;

    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);

    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);

}

header nav span {
    float: left;
    line-height: 99px;
    margin: 0 15px;
}

header nav .icon {
    float: left;
}

/***** header *****/

button.menu {
    border-radius: 5px;
    display: block;
    height: 60px;
    left: 2.5%;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 60px;
    background: #8d8d8d;
    color: #fff;
    font-family: Tahoma;
}

.logo {
    float: none;
    margin-top: 0;
}

.logo img {
    display: block;
    margin: 0 auto;
}

.logo > span {
    text-align: center;
}

header nav {
    background: #fff;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 1;
}

header nav, header nav ul {
    float: none;
}

header nav ul li {
    float: none;
    width: auto;
    margin: 20px;
    clear: both;
    overflow: hidden;
}

header {
    padding: 15px 0 26px;
}

header .wrapper-section {
    width: 100%;
}

/***** what we do section *****/

section.what-we-do {
    margin-top: 165px;
}

.expandable {
    height: auto !important;
}

.video {
    float: none;
    width: 100%;
}

.video span {
    font-size: 2.2em;
}

.column-what-we-do {
    margin: 20px 0 0 0;
    padding-bottom: 0;
}

.button-expand {
    display: none !important;
}

/***** networks section *****/

.networks-column-container {
    margin: 0 auto;
    width: 90%;
}

.networks-column {
    width: 90%;
}

.arrow-left {
    left: 2.5%;
}

.arrow-right {
    right: 2.5%;
}

/***** werbeformen section *****/

.werbeformen-imgcontainer {
    display: block;
    height: 205px;
    margin: 0 auto;
}

.werbeformen-imgcontainer .img1 {
    height: 77%;
    width: 55%;
    bottom: 14%;
    left: 22%;
    background: lightskyblue;
}

.werbeformen-imgcontainer .img2 {
    width: 40%;
    height: 55%;
    bottom: 10%;
    left: 51%;
}

.werbeformen-textcontent {
    margin-left: 0px;
    display: block;
}

.werbeformen-textcontent ul {
    margin: 15px 0 0 0;
}

/***** contact section *****/

.italy *, .croatia * {
    position: static;
}

.italy, .croatia {
    float: none;
    width: auto;
}

.italy {
    margin-bottom: 50px;
}

.contact-section {
    padding: 50px 31px 31px;
}

.contact-container img, .country-name, .telephone-number {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.contact-container img {
    height: auto;
    margin-bottom: 10px;
    width: 60%;
}

.contact-section .country-name {
    font-size: 3.125em;
    margin-bottom: 15px;
}

.contact-section .telephone-number {
    font-size: 1.875em;
}

/***** footer *****/

footer nav {
    float: none;
    overflow: hidden;
}

footer nav ul {
    display: table;
    margin: 0 auto;
}

.powered-by {
    display: block;
    float: none;
    margin: 30px 0 0 0;
    text-align: right;
}
