/***** header with menu *****/

header .wrapper-section {
    /*overflow: hidden;*/
}

.logo {
    float: right;
}

.logo > span {
    font-size: 2em;
}

.logo img {
    width: 80%;
}

button.menu {
    height: 50px;
    margin-top: -25px;
    width: 50px;
}

/***** general elements *****/

.boxshadow section {
    box-shadow: inset 0px 0px 5px 5px #ededed;
}

section {
    padding-left: 15px;
    padding-right: 15px;
}

/***** what we do section *****/

.video span {
    font-size: 1.8em;
}

/***** networks section *****/
